@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital,wght@0,600;1,300&display=swap');

/*General styling rules*/
section{
    min-height: 100vh;
    height: 100%;
    padding-top: 100px;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
}
/*Navbar*/
.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
/* Home-page*/
#home-page {
  height: 100%;
  position: relative;
}
#blackbox {
  background: #000;
}
#hero-image {
  opacity: 0.4;
}

@media (min-width: 1200px){
  #hero-image {
  width:100%;
  max-height: 100vh;
  }
}
#book-button-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Open sans' , sans-serif;
  font-weight: 600;
  font-size: 30px;
}
#book-button{
  height: 80px;
  width: 250px;
  background: transparent;
  border: 2px solid #fff;
  text-decoration: none;
  border-radius: 6px;
}
#bb-link {
  text-decoration: none;
  padding: 5px, 10px;
    color: #fff;
}
#book-button-container :hover{
  background-color: #04724d;
  transition: 0.4s;
}
/*About*/
.page-title{
  font-family: 'Kaushan Script', cursive, sans-serif;
  text-align: center;
  text-decoration: underline;
  color: #04724d;
  font-size: 40px;
  padding-bottom: 50px;
}
p {
  text-align: center;
  font-size: 24px;
  line-height: 50px;
}