@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital,wght@0,600;1,300&display=swap');

/*General styling rules*/
section{
    min-height: 100vh;
    height: 100%;
    padding-top: 96px;
    background-color: #04724d;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
}
hr {
  border-color: #fff;
}
/*Navbar*/
.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
/* Home-page*/
#home-page {
  height: 100%;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
#blackbox {
  background: #000;
}
#hero-image {
  opacity: 0.4;
}

@media (min-width: 1200px){
  #hero-image {
  width:100%;
  max-height: 100vh;
  }
}
#book-button-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Open sans' , sans-serif;
  font-weight: 600;
  font-size: 30px;
}
#book-button{
  height: 80px;
  width: 250px;
  background: transparent;
  border: 2px solid #fff;
  text-decoration: none;
  border-radius: 6px;
}
#bb-link {
  text-decoration: none;
  padding: 5px, 10px;
    color: #fff;
}
#book-button-container :hover{
  background-color: #04724d;
  transition: 0.4s;
}
/*About*/
.page-title{
  font-family: 'Kaushan Script', cursive, sans-serif;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  font-size: 40px;
  padding-bottom: 45px;
  padding-top:5px;
}
p {
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  width: 80%;
}

@media (max-width: 425px){
  .page-title{
    padding-bottom: 35px;
  }
  p{
    line-height: 35px;
  }
}
/*Booking*/
#booking-page{
  background-color: #04724d;
}
.add-open{
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 2px;
  color:#fff;
}
i{
  font-size: 40px;
  color: #fff;
}
input[type=text],
input[type=number],
input[type=tel],
input[type=date],
input[type=time], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus {
  background-color: #04724d;
  color: #fff;
}
input[type=number]:focus {
  background-color: #04724d;
  color: #fff;
}
input[type=tel]:focus {
  background-color: #04724d;
  color: #fff;
}
input[type=submit] {
  width: 100%;
  background-color: #fff;
  color: #04724d;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px, solid, #04724d;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #04724d;
  color: #fff;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}